<%-include("partials/header.ejs")%>
<h1>PROJECTS</h1><br><br><br>
<h2>Word Recognition From Sign Language</h2>
<p>The idea of a project focused on word recognition from sign language using deep learning
is to create a system that can automatically recognize and understand sign language
gestures and translate them into written words. The primary goal is to facilitate
communication between individuals who use sign language as their primary means of
communication and those who do not understand sign language</p>
<br><br>
<h2>Hotel Management System</h2>
<p>The main objective of this project is to develop an application which makes easier for
people to book hotel rooms at any specific location. my contribution was mainly related to
HTML.</p>
<%-include("partials/footer.ejs")%>